.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 21%
    right: 70%
    width: 20%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 11%
    right: 4%
    width: 50%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.container01
  background-color: #FFFFFF
  border-top-left-radius: 25px
  border-top-right-radius: 25px

.container02, .BG06
  background-color: #FFFFFF

.container03
  background-color: #FFFFFF
  border-bottom-left-radius: 25px
  border-bottom-right-radius: 25px

.BG01
  background-color: #FAFAFA

.BG02
  background-color: #7F4FC7
  border-radius: 15px
  position: relative
  top: 40%

.BG03
  background-color: #B1DAF6
  border-radius: 15px
  position: relative
  top: 40%

.BG04
  background-color: #EEE6FA
  border-radius: 15px

.BG05
  background-color: #12263F

.BG07
  background-color: #7F4FC7
  position: relative
  bottom: 20px

.BG08
  background-color: #F6F6F6

.BG09
  background-color:#FFFFFF
  border-bottom: 5px solid #C8C8C8
  border-right: 1px solid #C8C8C8
  border-left: 1px solid #C8C8C8
  border-top: 1px solid #C8C8C8
  width: 80%
  position: relative
  left: 10%
  height: 220px

.BG10
  background-color: #FDBE41

.BG11
  background: linear-gradient(to bottom, #F5F5F5,#A8B4D0)
  border-radius: 15px

.BG12
  background: linear-gradient(to bottom, #1271BE,#1892F3)

.BG13
  background: linear-gradient(to top, #0A528D,#1894F6)
  height: 380px

.BG14
  background: linear-gradient(to right, #754DC0,#080383)
  border-radius: 15px

.BG15
  background-color:#F6F6F6
  border-bottom: 5px solid #D5D5D5
  border-right: 1px solid #D5D5D5
  border-left: 1px solid #D5D5D5
  border-top: 1px solid #D5D5D5

.BG16
  background: linear-gradient(to bottom, #D19F40,#FCBD41)

.BG17
  background-color: #D5D5D5

.BG18
  background-color:#F8F5FD

.BG19
  background: linear-gradient(to top, #0A528D,#1894F6)
  height: 200px

.BG20
  background: linear-gradient(to top, #0A528D,#1894F6) 
  height: 450px 

.BG21
  background: linear-gradient(to top, #D19F40,#FCBD41)
  border-top:  4px solid #12263F

.BG22
  background-color: #FCFCFC

.BG23
  background: linear-gradient(to top, #B1B1B1,#F5F5F5)
  border-radius: 15px
  position: relative
  top: -80%
  @media (max-width: $bp-max-md)
    top: 0%

.BG24
  background-color: #ffffff
  position: relative
  bottom: 150px
  @media (max-width: $bp-max-md)
    bottom: 0px
  

.BG25
  background-color:#AFAEF8
  border-radius: 20px

.BG26
  background-color:#FFFFFF
  border-bottom: 5px solid #C8C8C8
  border-right: 1px solid #C8C8C8
  border-left: 1px solid #C8C8C8
  border-top: 1px solid #C8C8C8
  width: 90%
  position: relative
  left: 10%
  height: 280px

.BG27
  background-color:#FFFFFF
  border-bottom: 5px solid #C8C8C8
  border-right: 1px solid #C8C8C8
  border-left: 1px solid #C8C8C8
  border-top: 1px solid #C8C8C8 
  position: relative
  height: 290px

.BG28
  background: linear-gradient(to top, #0A528D,#1894F6)
  height: 280px

.BG29
  background-color: #FAFAFA
  border-radius: 0px

.BGIMG01
  background-image: url("../assets/curso/tema1/img07.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG02
  background-image: url("../assets/curso/tema1/img31.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG03
  background-image: url("../assets/curso/tema1/img40.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG04
  background-image: url("../assets/curso/tema2/img08.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG10
  background-image: url("../assets/curso/tema1/img63.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center
  border-radius: 15px

.BGIMG11
  background-image: url("../assets/curso/tema1/img64.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG12
  background-image: url("../assets/curso/tema1/img65.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center
  
 
.BGIMG13
  background-image: url("../assets/curso/tema1/img66.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG14
  background-image: url("../assets/curso/tema1/img67.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG15
  background-image: url("../assets/curso/tema1/img72.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG16
  background-image: url("../assets/curso/tema1/img73.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center
  
 
.BGIMG17
  background-image: url("../assets/curso/tema1/img74.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG18
  background-image: url("../assets/curso/tema1/img75.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG19
  background-image: url("../assets/curso/tema1/img76.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG20
  background-image: url("../assets/curso/tema1/img77.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG21
  background-image: url("../assets/curso/tema1/img78.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center
  
 
.BGIMG22
  background-image: url("../assets/curso/tema1/img79.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG23
  background-image: url("../assets/curso/tema1/img80.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.BGIMG24
  background-image: url("../assets/curso/tema4/img04.svg")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center

.img01
  position: relative
  bottom: 60px
  left: -15%
  width: 130%
  max-width: 200%
  @media (max-width: $bp-max-md)
    bottom: 0px
    left: 0%
    width: 100%


.img02
  position: relative
  bottom: 60px
  left: 100%

.img03
  position: relative
  bottom: -40px
  left: -15%
  width: 110%
  max-width: 200%

.img04
  position: absolute
  right: 50px
  @media (max-width: $bp-max-sm)
   position: inherit
   right: 0px
 

.cajon.color-acento-botones
  background-color: #FFFAD8

.cajon.color-acento-contenido
  background-color: #ECE5F7
  
.subir01
  position: relative
  bottom: 15%
  @media (max-width: $bp-max-md)
    bottom: 0%

.subir02
  position: relative
  bottom: 35px

.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #D2C1EB

.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  background-color: #F8F8F8

.linea-tiempo-d__item__content__title, .linea-tiempo-d__item__number
  background-color: #DDDDDD

.bloque-texto-a:before
  left: 40%

.bloque-texto-g.color-acento-contenido
  background-color: #D8DBF7

.bloque-texto-g.color-acento-botones
  background-color:#A4A3FF

.bloque-texto-g.color-secundario, .tabs-a.color-color-acento-contenido .tabs-a__tab__selected, .tabs-a.color-acento-contenido .tabs-a__tab__selected:before, .tabs-a.color-acento-contenido .tabs-a__tab__selected
  background-color:#D2C1EB !important

.bloque-texto-g__texto
  width: 75%

.bloque-texto-g__img 
  width: 35%

.bloque-texto-a.color-primario, .bloque-texto-a.color-secundario, .bloque-texto-a.BG17
  background-color: #F6F6F6

.bloque-texto-a.color-secundario:before
  background-color: #B1DAF6

ol.lista-vineta1
  list-style-image: url("../assets/curso/tema1/img41.svg")

ol.lista-vineta2
  list-style-image: url("../assets/curso/tema2/img20.svg")

ol.lista-vineta3
  list-style-image: url("../assets/curso/tema5/img14.svg")

.bloque-texto-a.BG17:before
  background-color: #D5D5D5

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #7F4FC7

.slyder-a__bullets__item--active
  background-color: #EEAC3A
  border-color: #EEAC3A

.tabs-b.color-acento-contenido .tabs-b__tab--active
  border-top-color: #ffffff !important

.tabs-b__tab
  border-right: 1px solid #F6F6F6

td, th
  border: 1px solid #707070

.tarjeta.color-acento-botones--borde
  border: solid 4px #12263F

.tabs-a__tab
  background-color: #E8E8E8



